/* menu.css */

/* 전체 body에 대한 스타일 */
body {
    padding: 0;
    margin: 0;
}

/* 테이블 스타일 */
#menuTable, #orderList {
    border-collapse: collapse;
    border: 2px solid #666;
    width: 100%;
}

/* 테이블의 헤더 셀 스타일 */
th {
    border: 2px solid #666;
    padding: 10px;
    text-align: center;
}

/* 테이블의 데이터 셀 스타일 */
td {
    border: 2px solid #666;
    padding: 10px;
}

/* 푸터 테이블 스타일 */
#footerTable {
    border: 2px solid #666;
    width: 100%;
}

/* 메뉴 테이블과 주문내역 테이블을 나란히 배치 */
#leftDiv, #rightTable {
    display: inline-block;
    vertical-align: top;
}

/* 각 메뉴 항목의 이미지 스타일 */
.menu img {
    max-width: 100px;
    height: auto;
}

/* 메뉴 항목 텍스트 스타일 */
.label, .price {
    font-size: 14px;
}

/* 결과 표시 영역 스타일 */
.result {
    text-align: left;
}

#rightTable{
	border: solid #666;
}